*{
    box-sizing: border-box;
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.slider{
    display: flex;
    justify-content: center;
    align-self: center;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    flex-basis: 25%;
    transition: all .2s;
}

.item:hover{
    flex-basis: 100%;
}

.item span{
    font-size: 2rem;
    text-shadow: 0px 0px 5px #4d4d4d;
}

.item-1{
    background: hotpink no-repeat center center;
}

.item-2{
    background: #99ff99 no-repeat center center;
}

.item-3{
    background: #66c2ff no-repeat center center;
}

.item-4{
    background: #ffa366 no-repeat center center;
}

@media(max-width:640px){
    .slider{
        flex-flow: column;
        height: 100vh;
    }

    .item{
        width: 100%;
    }

    .item:hover{
        flex-grow: 30%;
    }
}